<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-click="model.updateWidget()">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">
                Widget Edit
            </a>
        </div>
    </div>
</nav>

<div ng-switch="model.widget.widgetType">
    <div ng-switch-when = "HEADER">
        <ng-include src="'views/widgets/templates/editors/widget-HEADER-editor.view.client.html'"></ng-include>
    </div>

    <div ng-switch-when = "IMAGE">
        <ng-include src="'views/widgets/templates/editors/widget-IMAGE-editor.view.client.html'"></ng-include>
    </div>

    <div ng-switch-when = "HTML">
        <ng-include src="'views/widgets/templates/editors/widget-HTML-editor.view.client.html'"></ng-include>
    </div>

    <div ng-switch-when = "YOUTUBE">
        <ng-include src="'views/widgets/templates/editors/widget-YOUTUBE-editor.view.client.html'"></ng-include>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>