<div class="container-fluid">
    <label for="widget-name">Name</label>
    <input  ng-model="model.widget.name"
            id="widget-name"
            class="form-control"
            type="text"
            placeholder="Image Name">
    <label for="widget-text">Text</label>
    <input  ng-model="model.widget.text"
            id="widget-text"
            class="form-control"
            type="text"
            placeholder="Image Text"/>
    <label for="widget-url">URL</label>
    <input  ng-model="model.widget.url"
            id="widget-url"
            class="form-control"
            type="text"
            placeholder="Image URL"/>
    <label for="widget-width">Width</label>
    <input  ng-model="model.widget.width"
            id="widget-width"
            class="form-control"
            value="100%"
            type="text"
            placeholder="Image Width"/>
    <label for="widget-upload">Upload</label>

    <form action="/api/upload" method="post" enctype="multipart/form-data">
        <input  name="myFile"   type="file" class="form-control"/>
        <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
        <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="userId" value="{{model.userId}}"   style="display: none"/>
        <input  name="pageId" value="{{model.pageId}}"   style="display: none"/>
        <button id="widget-upload" type="submit" class="btn btn-block btn-primary">Upload Image</button>

    <a class="btn btn-danger btn-block" ng-click="model.deleteWidget()">Delete</a>
    </form>
</div>